<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/account.css" %}'>
    <title>Flashed</title>
</head>
<body>
    <!-- top navigation -->
    <nav class="navbar">
        <a href="{% url 'index' %}" class='home'>FlashEd</a>
        <a href="{% url 'flashcards' %}">Flashcards</a>
        <a href="{% url 'account' %}">Log In</a>
    </nav>
    
    <div class="wrapper">
        <div class="box">
            {% if user.is_authenticated %}
            <h1>You are currently logged in as {{ user.username }}</h1>
            <p>Logout<a href="{% url 'account' %}">here</a></p>
         
            {% else %}
            <h1>My Google Login Project</h1>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
            {% endif %}
        </div>
    </div>

</body>
</html>